CLIENT_SECRET=your_secret_key_here
CLIENT_ID=your_id_here

# Directory containing music files to process (for metadata updater)
MUSIC_DIRECTORY=./music

# Source directory containing new songs to organize (for organizer)
SOURCE_DIRECTORY=./new_songs

# Target directory where organized songs will be moved to (for organizer)
TARGET_DIRECTORY=./organized_music

